[submodule "external/GRiD"]
	path = external/GRiD
	url = git@github.com:A2R-Lab/GRiD.git
	branch = modernizing-tests
[submodule "external/GLASS"]
	path = external/GLASS
	url = git@github.com:A2R-Lab/GLASS.git
	branch = main
[submodule "baselines/sqpcpu"]
	path = examples/benchmarks/baselines/sqpcpu
	url = https://github.com/EmreAdabag/sqpcpu
[submodule "test/pytest-gpu-proof"]
	path = test/pytest-gpu-proof
	url = https://github.com/A2R-Lab/pytest-gpu-proof.git
