[submodule "external/GBD-PCG"]
	path = dependencies/GBD-PCG
	url = git@github.com:A2R-Lab/GBD-PCG.git
[submodule "external/GLASS"]
	path = dependencies/GLASS
	url = git@github.com:A2R-Lab/GLASS.git
[submodule "external/qdldl"]
	path = dependencies/qdldl
	url = https://github.com/osqp/qdldl.git
[submodule "external/GRiD"]
	path = dependencies/GRiD
	url = git@github.com:A2R-Lab/GRiD.git
[submodule "external/TrajoptMPCReference"]
	path = dependencies/TrajoptMPCReference
	url = git@github.com:A2R-Lab/TrajoptMPCReference.git
[submodule "external/pybind11"]
	path = dependencies/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "dependencies/MPCGPU"]
	path = dependencies/MPCGPU
	url = git@github.com:A2R-Lab/MPCGPU.git
